body {
    padding-left: 160px;
  }
  
  #header-vertical {
    height: 100vh;
    width: 160px;
    position: fixed;
    left: 0;
    color: black;
  }
  #nav-header-vertical{
    padding: 60px 0px;
  }
  #item-header-vertical{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 100%;
   height: 40px;
   margin: 1px 0px;
  }
  #item-header-vertical:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    transition: 0.5s;
    color: white;
  }
  #header-horizontal{
  }
  
  #icon-menu-header{
    display: none ;
  }
  .btn-carritos{
    background-color: rgb(98, 0, 255);
    padding:  10px;
    border-radius: 10px;
    color: white;
  }
  .activar-agregado-al-carrito{
    background-color: rgb(152, 92, 249);
    padding:  10px;
    border-radius: 10px;
    color: white
  
  }


  #seccion-todos-los-productos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #seccion-todos-los-productos-producto{
    height: 35px;
    width: 100%;
    transition: 0.2s;
    display: flex; 
    align-items: center; 
    justify-content: center;  
    text-align: center;  
    cursor: pointer;
  }
  
  #seccion-todos-los-productos-producto:hover{
    background-color: rgb(0, 0, 0);
    color: white;
  }

 
  #producto-tienda {
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition-property: transform;
  }

  @media (max-width: 800px) {
    body {
      padding-left: 0;
    }
    
    #header-vertical {
      display: none;
    }
  
    #icon-menu-header{
      display: block ;
    }
    
  }
  