@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#titulo{
  color:  rgb(87, 122, 206);
}

#titulo-seccion-mostra-productos{
  color:  rgb(87, 122, 206);
}

#btn-seccion-portada{
  background-color: rgb(52, 144, 231);
  color: white;
  border-radius: 5px;
  padding: 13px 40px;
}
#btn-seccion-portada:hover{
  background-color: rgb(8, 71, 143);
  color: white;
}


